# &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Data Wrangling

The process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes

# &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Importing The Dataset

## Instructions
This data contains personality scores for recruits, plus the department they applied for.

**Import the dataset personality_scores.csv. Examine the data frame for duplicates (based on ID), and drop any duplicates that exist. Use an assert statement to check that the new data frame is the length of the unique entries of the original data frame.**

In [1]:
# Libraries to work with the data
import pandas as pd
import numpy as np

# Get the data
personality_scores = pd.read_csv("Data/personality_scores.csv", sep=";")

# Number of duplicates
print("Total duplicates in the dataset: {}".format(len(pd.DataFrame(personality_scores.duplicated())[pd.DataFrame(personality_scores.duplicated())[0] == True])))

# View of the data
personality_scores.head()

Total duplicates in the dataset: 0

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Assertion
len(personality_scores["ID"].unique()) == len(personality_scores["ID"])

True

**Create new columns containing the total score of each of the personality test subscales. To do this, write a function (or functions) that will calculate the total score for each of the subscales (conscientiousness, emotional stability, openness to new experience, agreeableness, extraversion), as set out in scoring. In other words, for the conscientiousness total score, all items marked as belonging to ‘conscientiousness’ should be summed.**

In [3]:
# Removing Unnamed columns
personality_scores = personality_scores.drop(personality_scores.columns[-19:], axis=1)

# Renaming columns name
columns_renaming = {}

for each_name in personality_scores.columns:
    if "Section" in each_name:
        columns_renaming.update({each_name: each_name.split("[")[1].split("]")[0]})
        
personality_scores = personality_scores.rename(columns=columns_renaming) 

# Create new columns
additional_columns = ["Extraversion","Agreeableness","Conscientiousness","Emotional Stability/Neuroticism","Intellect/Imagination / openness to experiences"]

for each_column_name in additional_columns:
    personality_scores[each_column_name] = np.zeros(len(personality_scores["ID"]))

# Function to calculate the total for each subscales
def subscales(df):
    for index, row in df.iterrows():
        for i in row:
            if type(i) == str:
                if int(i[1]) == 1:
                    df.at[index, "Extraversion"] = df.at[index, "Extraversion"] + int(i[4])
                if int(i[1]) == 2:
                    df.at[index, "Agreeableness"] = df.at[index, "Agreeableness"] + int(i[4])                    
                if int(i[1]) == 3:
                    df.at[index, "Conscientiousness"] = df.at[index, "Conscientiousness"] + int(i[4])                    
                if int(i[1]) == 4:
                    df.at[index, "Emotional Stability/Neuroticism"] = df.at[index, "Emotional Stability/Neuroticism"] + int(i[4])                    
                if int(i[1]) == 5:
                    df.at[index, "Intellect/Imagination / openness to experiences"] = df.at[index, "Intellect/Imagination / openness to experiences"] + int(i[4])
                    

# applying the above function
subscales(personality_scores)

In [4]:
personality_scores.head()

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I sympathize with others' feelings.,I take time out for others.,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Emotional Stability/Neuroticism,Intellect/Imagination / openness to experiences
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30.0,40.0,48.0,36.0,42.0
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42.0,46.0,46.0,40.0,42.0
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28.0,40.0,40.0,38.0,42.0
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30.0,38.0,38.0,40.0,38.0
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28.0,34.0,46.0,38.0,36.0

**Import the data in departments.csv. Merge this data frame with the personality score data frame, keeping all applicants within the department data frame. Use an assert statement to check that the newly created merged data frame has the same amount of rows as the department data frame, and the expected number of columns.**

In [5]:
# Creating the merged dataframe 
merged_personality_score = pd.merge(personality_scores, pd.read_csv("Data/departments.csv", sep=";"), on="ID")

# View the newly created data frame
merged_personality_score.head()

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I take time out for others.,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Emotional Stability/Neuroticism,Intellect/Imagination / openness to experiences,Department
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",30.0,40.0,48.0,36.0,42.0,Data
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",42.0,46.0,46.0,40.0,42.0,Data
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28.0,40.0,40.0,38.0,42.0,Data
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(1, 5)","(5, 1)","(4, 1)",30.0,38.0,38.0,40.0,38.0,Data
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28.0,34.0,46.0,38.0,36.0,Data

In [6]:
# Assertion : rows
merge = pd.DataFrame(merged_personality_score["ID"])
department =  pd.DataFrame((pd.read_csv("Data/departments.csv", sep=";")["ID"]))

len(merge) == len(department)

True

**Filter the merged data frame so that you get only the applicants who scored less than 30 on emotional stability, conscientiousness AND agreeableness. Print the ID numbers and departments of these applicants to the screen, and also assign these applicants the tag “high_risk” in a new column. All other applicants get the tag “low_risk”**

In [7]:
# Filter
(merged_personality_score[(merged_personality_score["Emotional Stability/Neuroticism"] < 30) & (merged_personality_score["Agreeableness"] < 30) & (merged_personality_score["Conscientiousness"] < 30)])[["ID", "Department"]]

        ID   Department
881    881         Data
1197  1197  Copywriting

In [8]:
# New coloumn called Risk
high_risk = [881,1197]

for index, row in merged_personality_score.iterrows():
    if row["ID"] in high_risk:
        merged_personality_score.at[index,"Risk"] = "high_risk"
    else:
        merged_personality_score.at[index, "Risk"] = "low_risk"

# View of the above changes
merged_personality_score.head()

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Emotional Stability/Neuroticism,Intellect/Imagination / openness to experiences,Department,Risk
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(1, 3)","(5, 1)","(4, 3)",30.0,40.0,48.0,36.0,42.0,Data,low_risk
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(1, 5)","(5, 3)","(4, 3)",42.0,46.0,46.0,40.0,42.0,Data,low_risk
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(1, 3)","(5, 1)","(4, 3)",28.0,40.0,40.0,38.0,42.0,Data,low_risk
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(1, 5)","(5, 1)","(4, 1)",30.0,38.0,38.0,40.0,38.0,Data,low_risk
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(1, 3)","(5, 1)","(4, 3)",28.0,34.0,46.0,38.0,36.0,Data,low_risk

**Create a new data frame with a count of the number of low and high risk applicants within each department. Let each department be a separate column.**

In [9]:
risk_df = ((pd.DataFrame(merged_personality_score.groupby(["Risk", "Department"])["Department"].count())).unstack()).fillna(0)
risk_df

            Department
Department Copywriting   Data Design Strategy Web Dev Web dev
Risk
high_risk          1.0    1.0    0.0      0.0     0.0     0.0
low_risk         325.0  328.0  120.0    449.0   170.0   161.0